.font-display-large {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 54px;
    line-height: 70px;
    font-weight: bolder;
    text-transform: uppercase;
}

.font-display-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    line-height: 34px;
    font-weight: bolder;
    text-transform: uppercase;
}

.font-title {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.font-subtitle {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.font-price-product {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.font-body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.font-description {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 20px;
    font-weight: 200;
    font-style: italic;
}

.font-button {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.flex-row {
    display: flex; 
    flex-direction: row;
}

section {
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.header-left-part {
    width: 35%; 
    position: relative;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.header-left-part img {
    width: 200px;
}

.header-left-part h1 {
    margin: 0;
    margin-top: auto;
    margin-bottom: 20px;
}

.nav-links {
    background-color: #404F67;
    color: #F8FAFF;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.nav-links img {
    width: 25px;
    margin-bottom: 30px;
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nav-links a {
    text-transform: uppercase;
    color: #F8FAFF;
    text-decoration: none;
}

#filters {
    background: linear-gradient(
        to right,
        #404F67 200px,
        #F8FBFF 10% 
    );
    padding: 40px 0;
}

#giftset {
    background: linear-gradient(
        to left,
        #F8FBFF 200px,
        #EDEFF4 10% 
    );
    padding: 40px 0;
}

#combo {
    background: linear-gradient(
        to left,
        #404F67 200px,
        #F8FBFF 10% 
    );
    padding: 40px 0;
}

.sale-card-price {
    color: #C7A179;
}

.button-buy {
    margin: 0 5px;
    padding: 0 5px;
    background-color: #C7A179;
    color: #F8FAFF;
    border-radius: 15px;
    overflow: hidden;
}

.sale-card {
    margin: 5px 10px;
    padding: 5px 10px;
}

.giftset {
    align-items: stretch;
    padding: 0 25%;
}

.giftset img {
    width: 40%;
    object-fit: cover;
}

.giftset-card {
    flex: 1;
    padding: 20px;
}

.giftset-card-property {
    height: 25%;
}

.giftset-card-property p {
    margin: 0;
    padding: 0;
}

.giftset-choice {
    width: 60px;
    display: flex;
    flex-direction: column;
}

.giftset-choice-element {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F7FC;
    color: #BFC4CF;
}

.giftset-choice-element-active {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #404F67;
}

.filtercombo-card {
    padding: 10px;
}

.filtercombo-card-content {
    margin: 5px 10%;
}

.filtercombo-card-price {
    color: #C7A179;
}

.filtercombo-card-price-full {
    color: #404F67;
    text-decoration: line-through;
}

footer {
    background-color: #EDEFF4;
    color: #A8AFBB;
    padding: 10px 0;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding-left: 10%;
}

.text-beige-background {
    background-color: #C7A179; 
    color:#F8FAFF;
}

.text-accent {
    color:#404F67
}